#include "..\core\snmptraptools_config.h"
#include "resource.h"

ID_ICON ICON "config.ico"

ID_MENU_DIALOG_1 MENU
	BEGIN
		POPUP "&File"
		BEGIN
			MENUITEM "Export &config.", ID_MENU_EXPORT
			MENUITEM SEPARATOR
			MENUITEM "E&xit", ID_MENU_EXIT
		END
		POPUP "Ser&vice"
		BEGIN
			  MENUITEM "&Update config.", ID_MENU_UPDATE
			  MENUITEM "&Start service", ID_MENU_START
			  MENUITEM "S&top service", ID_MENU_STOP
		 END
		POPUP "&Plugin"
		BEGIN
			  MENUITEM "&Configure current", ID_MENU_PLUGIN
		END
	END

ID_DIALOG_MAIN DIALOGEX 6, 5, 245, 250
    CAPTION "Windows SNMP Trap Handler"
    FONT 8, "Tahoma"
    MENU ID_MENU_DIALOG_1
    //STYLE 0x00000000
    BEGIN
        // XXXXXX id, x, y, width, height

        LISTBOX ID_LISTBOX_OID, 10, 10, 170, 100

        PUSHBUTTON "Add", ID_BUTTON_ADD, 190, 20, 46, 15
        PUSHBUTTON "Remove", ID_BUTTON_REMOVE, 190, 40, 46, 15, WS_DISABLED
        PUSHBUTTON "Save", ID_BUTTON_MODIFY, 190, 60, 46, 15, WS_DISABLED

        LTEXT "Description:", -1, 10, 170, 60, 10
        EDITTEXT ID_EDIT_DESCRIPTION, 10, 180, 220, 12

        LTEXT "Plugin:", -1, 10, 200, 60, 10
        COMBOBOX ID_COMBO_PLUGIN, 10, 210, 220, 120, CBS_DROPDOWNLIST|CBS_HASSTRINGS|CBS_DISABLENOSCROLL

        GROUPBOX " Service trap type ", ID_GROUPBOX_TRAPTYPE, 10, 112, 220 , 52, WS_GROUP
            AUTORADIOBUTTON "Any", ID_RADIO_ANY, 17, 120, 40, 15
            AUTORADIOBUTTON "Generic", ID_RADIO_GENERIC, 17, 133, 40, 15
            AUTORADIOBUTTON "Enterprise specific", ID_RADIO_SPECIFIC, 17, 146, 100, 15
            LTEXT "Trap code", ID_CAPTION_TRAP_CODE, 130, 130, 60, 10
            EDITTEXT ID_EDIT_TRAP_CODE, 130, 140, 30, 12

    END


ID_DIALOG_ADD DIALOGEX 6, 5, 200, 50
    CAPTION "Add an OID"
    FONT 8, "Tahoma"
    STYLE 0x00000000
    BEGIN
        // XXXXXX id, x, y, width, height
        EDITTEXT ID_EDIT_OID, 10, 10, 180, 12

        DEFPUSHBUTTON "Add", ID_BUTTON_ADD_OID, 40, 30, 46, 15
        PUSHBUTTON "Cancel", ID_BUTTON_CANCEL_OID, 100, 30, 46, 15
    END

ID_VERSION_INFO VERSIONINFO
	FILEVERSION VERSION_NUM
	PRODUCTVERSION VERSION_NUM
	FILEFLAGSMASK 0x3fL
	FILEFLAGS 0x0L
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "Comments", "This software have been programmed during my free time."
                                "It is distributed as it without any guarantee under LGPLv3 licence."
                                "http://www.gnu.org/licenses/lgpl.html\0"
				//VALUE "CompanyName", "\0"
				VALUE "FileDescription", "SNMPTrapHandler configuration program\0"
				VALUE "FileVersion", VERSION_STR
				VALUE "InternalName", "snmptrapconfig.exe\0"
				VALUE "LegalCopyright", "(C) Julien Blitte\0"
				//VALUE "LegalTrademarks", "\0"
				//VALUE "OLESelfRegister", "\0"
				VALUE "OriginalFilename", "snmptrapconfig.exe\0"
				//VALUE "PrivateBuild", "\0"
				VALUE "ProductName", "SNMP Trap Tools set\0"
				VALUE "ProductVersion", VERSION_STR
				VALUE "SpecialBuild", VERSION_BUILD
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1200
		END
	END
